<div class="container">
  <form [formGroup]="userForm"  (submit)="saveUser()">
    <div class="form-group">
      <label for="">Vorname</label>
      <input type="text" class="form-control" formControlName="firstname">
    </div>

    <div class="form-group">
      <label for="">Nachname</label>
      <input type="text" class="form-control" formControlName="lastname">
    </div>

    <div class="form-group">
      <label for="">Telefonnummer</label>
      <input type="text" class="form-control" formControlName="phone">
    </div>

    <div class="form-group">
      <label for="">Alter</label>
      <input type="number" class="form-control"  formControlName="age">
    </div>

    <div class="form-group">
      <label for="">Email</label>
      <input type="email" class="form-control" formControlName="email">
    </div>

    <div class="form-group">
      <label for="">Passwort</label>
      <input type="password" class="form-control" formControlName="password">
    </div>


    <button [disabled]="userForm.invalid" class="btn btn-success" type="submit">Absenden</button>
    <button routerLink="/user/view" class="btn btn-default" type="submit">Zurück</button>
  </form>
</div>
